<div role="alert" data-controller="flashes" data-target="flashes.flash">
  <div class="border border-blue-400 bg-blue-100 text-blue-700 px-4 py-3 mt-2 rounded flex items-center justify-between">
    <i class="fas fa-info-circle"></i>
    <p class="flex-grow break-normal mx-4"><%= message %></p>
    <button data-action="flashes#hide">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
