<nav id="navigation" class="flex items-center justify-between p-5">
  <%= image_tag "venja.svg", class: "h-6" %>
  <%= link_to t("actions.login"), root_path, class: "text-white font-bold hover:underline" %>
</nav>
