<nav class="bg-gradient flex items-center justify-between p-5">
  <%= image_tag "venja.svg", class: "h-6" %>

  <% if signed_in? %>
    <%= link_to t("actions.logout"), sign_out_path, method: :delete, class: "text-white hover:text-white font-bold no-underline hover:underline" %>
  <% else %>
    <%= link_to t("actions.login"), sign_in_path, class: "text-white hover:text-white font-bold no-underline hover:underline" %>
  <% end %>
</nav>
