<nav class="bg-gradient flex items-center justify-between p-5">
  <%= image_tag "venja.svg", class: "h-6" %>
  <%= link_to t("actions.login"), root_path, class: "text-white hover:text-white font-bold no-underline hover:underline" %>
</nav>
