@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
  color: theme("colors.blue.500");
  text-decoration: underline;
}

a:hover {
  color: theme("colors.purple.700");
}

.bg-gradient {
  background-image: linear-gradient(
    to right,
    theme("colors.blue.500"),
    theme("colors.teal.500")
  );
}
